.backgroundColor {
  background-color: #41acb1;
}

/* Header */
.fontLarge {
  font-size: 2.2rem;
  font-weight: bolder;
}

/* Footer */
.fontMedium {
  font-size: 1rem;
}

.footerHeight {
  height: 4.1rem;
}

/* Card */

.wrapCardLinks {
  flex-flow: column;
  grid-template-columns: 1fr;
}

.birdInfoText {
  font-size: 1rem;
  padding: 1rem;
  border: "none";
}

.cardText {
  white-space: normal;
}

/* Grid Container */

.containerClass {
  margin-top: 120px;
  margin-bottom: 120px;
}

/*buttons */

.found-birds-btn {
  background: linear-gradient(#00819A, #005D6F);
  width: 70px;
  height: 70px;
  padding: 7px 10px;
  border-radius: 50%;
  border-color: #00e4ff;
  border-width: 2px;
  border-style: solid;
  text-align: center;
}
