body{
    background: linear-gradient(#00E1FF,#41ACB1 );
}

.margin-row{
  margin-top: -5rem;
}

/* Header */

nav {
    padding: 1.5rem 0rem 0rem 0rem !important;
}

.resetBtn {
  cursor: pointer;
  color: red;
}

.fontLarge {
  font-size: 2rem;
  font-weight: bolder;
}

.logo-nav {
    height: 6rem;
    padding: 0;
}

/* Footer */
.fontMedium {
  font-size: 1rem;
}

.footerHeight {
  height: 4.1rem;
}

/* Card */

.wrapCardLinks {
  flex-flow: column;
  grid-template-columns: 1fr;
}

.birdInfoText {
  font-size: 1rem;
  padding: 1rem;
  border: "none";
}

.cardText {
  white-space: normal;
}

.zero-margin {
    margin: 0 !important;
}

.font-card {
    font-size: 1.2rem !important;
    font-weight: bolder !important;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00000096;
}

.birdNumber {
    margin-top:1.7rem;
}

.over-lay {
  background-color: rgba(0, 92, 111, 0.358);
  border-radius: 5%;
  margin-top: 4rem;
  font-size: 22px;
}

.overlay-number {
  font-size: 17px;
}

.card-img-overlay{
  padding: .25rem !important;
}

/* Grid Container */

.containerClass {
  margin-top: 120px;
  margin-bottom: 120px;
  border-radius: 5% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/*buttons */

.birds-btn {
  background: linear-gradient(#00819A, #005D6F);
  width: 75px;
  height: 75px;
  padding: 7px 10px;
  border-radius: 50%;
  border-color: #00e4ff;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
  display: block;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3); 
  
}

.btn-text-count {
    color: white;
    font-size: 1.5rem;
    vertical-align: bottom;

}

.btn-text {
    color: #00FFBA;
    font-size: .75rem;
}

.btn-logo {
    width: 1rem;
    height: auto;
    vertical-align: top;
    
}

.button-width {
  width: 75px;
  justify-content: center;
  align-content: center;
}

.btn {
  border-radius: .5rem !important;
}

/* profile */

.white-background {
  background-color: white;
 
}

.profile-number{
  color:#00FFBA;
  font-size: 72px;
  margin-bottom: -15px;
  margin-top: -15px;
  padding: 0;
}

.binoc-plus {
  text-align: left !important;
  padding: 0px !important;
}

.binoc-minus {
  text-align: right !important;
  padding: 0px !important;
}

.vertical-centre {
  vertical-align: middle !important;
  align-items: center !important;
  padding-top: 20px;
}

.latin-header {
  font-style: italic;
  font-size: 12px;
}

.music-note {
  padding: 20px 10px;
}

.profile-name{
  color:#005D6F;
  font-size: 38px;
  margin-bottom: -10px;
}

.bird-copy-centre {
  text-align: center;
  justify-content: center;
}

.arrow-placement {
  vertical-align: top !important;
  padding-top: 1rem !important;
}