body{
    background: linear-gradient(#00E1FF,#41ACB1 );
}

/* Header */

nav {
    padding: 1rem 1rem 0rem 0rem !important;
}

.fontLarge {
  font-size: 2.2rem;
  font-weight: bolder;
}

.logo-nav {
    height: 6rem;
    padding: 0;
}

/* Footer */
.fontMedium {
  font-size: 1rem;
}

.footerHeight {
  height: 4.1rem;
}

/* Card */

.wrapCardLinks {
  flex-flow: column;
  grid-template-columns: 1fr;
}

.birdInfoText {
  font-size: 1rem;
  padding: 1rem;
  border: "none";
}

.cardText {
  white-space: normal;
}

.zero-margin {
    margin: 0 !important;
}

.font-card {
    font-size: 1.2rem !important;
    font-weight: bolder !important;
    color: white;
}

.birdNumber {
    margin-top:1.7rem;
}

/* Grid Container */

.containerClass {
  margin-top: 120px;
  margin-bottom: 120px;
}

/*buttons */

.birds-btn {
  background: linear-gradient(#00819A, #005D6F);
  width: 75px;
  height: 75px;
  padding: 7px 10px;
  border-radius: 50%;
  border-color: #00e4ff;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
  display: block;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3); 
  
}

.btn-text-count {
    color: white;
    font-size: 1.5rem;
    vertical-align: bottom;
    
    


}

.btn-text {
    color: #00FFBA;
    font-size: .75rem;
    vertical-align: top;
    
    
}

.btn-logo {
    width: 1rem;
    height: auto;
    vertical-align: top;
    
}
